<ion-content [fullscreen]="true">
  <ion-grid class="house-login__container">
    <ion-row class="ion-justify-content-center house-login__name-container">
      <div class="house-login__logo">
        <img src="assets/icon/logo.png" height="48" alt="Edit" />
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      &nbsp;
      <h1 class="house-login__app-name">
        House Design
      </h1>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="login()" class="house-login__login" color="primary">
        Login
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>