.house-item-container {
    display: flex;
    flex-wrap: wrap;
}

.house-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px black;
    height: 84px;
    width: 84px;
    margin: 5px;
    cursor: pointer;
    background-color: #25AFF3;

    img {
        height: 48px;
    }
}

.active {
    color: #25AFF3;
}