<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row class="ion-align-items-center">
        <div class="sketch-logo-sm">
          <img src="assets/icon/logo.png" alt="Edit" />
        </div>
        &nbsp;My House
      </ion-row>
    </ion-title>
    <ion-buttons slot="end">
      <ion-item class="cursor-pointer" (click)="avatarClick($event)">
        <ion-avatar slot="start">
          <img [src]="user?.photoURL" />
        </ion-avatar>
        <ion-label>{{ user?.displayName }}</ion-label>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="backToSketchList()" class="sketch-my-sketch__create-btn" color="light">
    Back to House Lists
  </ion-button>

  <ion-button (click)="createHouse()" class="sketch-my-sketch__create-btn" color="primary">
    <img src="assets/icon/edit.png" height="24" alt="Edit" />&nbsp;Create
    House
  </ion-button>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <div *ngFor="let house of houses" class="sketch-list-item">
        <div class="sketch-action">
          <img (click)="deleteHouse(house)" src="assets/icon/delete.png" alt="Delete" height="24" />
          <img (click)="editHouse(house.id)" src="assets/icon/edit.png" alt="Edit" height="24" />
        </div>
        <img [src]="house.thumbnailURL" alt="Thumbnail" width="350" />
        <div (click)="viewHouse(house.id)" class="name cursor-pointer">{{ house.name }}</div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>